<!-- accounts/templates/signup.html -->
{% extends 'body.html' %}
{% load addcss %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <div class="rounded p-4" style="background-color:white; opacity: 0.9; ">
        <div class="panel panel-default">
          <div class="panel-body">
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
              {{ field.label_tag }}
              {{ field | addcss:"form-control" }}
              {% if field.help_text %}
              <small style="color: grey">{{ field.help_text | safe }}</small>
              {% endif %}
              </div>
              {% endfor %}
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
              <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
{% endblock %}
